# Predicting Customer Satisfaction Level from Santander

This project is on the kaggle platform (link in cell below). The dataset is anonymized and consists of a large number of numeric variables.

https://www.kaggle.com/c/santander-customer-satisfaction

In [113]:
# Importing libraries and frameworks
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import scipy.stats

## Importing dataset

In [4]:
# Importing train data
df_train = pd.read_csv("data/train.csv")
df_train.head()

,ID,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult1,imp_op_var40_efect_ult3,...,saldo_medio_var33_hace2,saldo_medio_var33_hace3,saldo_medio_var33_ult1,saldo_medio_var33_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,saldo_medio_var44_ult3,var38,TARGET
0,1,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,39205.170000,0
1,3,2,34,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,49278.030000,0
2,4,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,67333.770000,0
3,8,2,37,0.0,195.0,195.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,64007.970000,0
4,10,2,39,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,117310.979016,0

In [6]:
# Importing test data
df_data_test = pd.read_csv("data/test.csv")
df_result_test = pd.read_csv("data/sample_submission.csv")
df_test = df_data_test.merge(df_result_test, on = 'ID')
df_test.head()

,ID,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult1,imp_op_var40_efect_ult3,...,saldo_medio_var33_hace2,saldo_medio_var33_hace3,saldo_medio_var33_ult1,saldo_medio_var33_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,saldo_medio_var44_ult3,var38,TARGET
0,2,2,32,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,40532.10,0
1,5,2,35,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,45486.72,0
2,6,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,46993.95,0
3,7,2,24,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,187898.61,0
4,9,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,73649.73,0

## Feature Engineering

In [9]:
print(len(df_train))
print(len(df_test))

76020
75818

In [16]:
# Saving columns names and modifing it
original_col_names = df_train.columns

In [47]:
# Setting new columns names for to facilitate data manipulation.
new_col_names = ["ID"]
new_col_names = new_col_names + (["var" + str(i) for i in range(1,370)])
new_col_names = new_col_names + ["TARGET"]

df_train.columns = new_col_names
df_test.columns = new_col_names

As the number of characteristics is very large I applied the Principal Component Analysis algorithm to reduce the size of the dataset and facilitate the analyzes and transformations that precede the creation of the predictive model.

In [53]:
# Checking for missing values
print(pd.isna(df_train).any().any())
print(pd.isna(df_test).any().any())
print(pd.isnull(df_train).any().any())
print(pd.isnull(df_test).any().any())

False
False
False
False

### Removing Data Columns with Too Many zero values

I saved dataset before applying transformations. Then I dropped "ID" variable and converting all independent variables to float. So I got the features with a proportion of non-zero values greater than 60%.

In [64]:
# Saving dataset
df_train.to_csv("data/df_train.csv")
df_test.to_csv("data/df_test.csv")

In [73]:
# Dropping "ID" variable and converting all independent variables to float
df1_train = df_train.drop("ID", axis=1)
df1_test = df_test.drop("ID", axis=1)

df1_train.iloc[:,:-1] = df1_train.iloc[:,:-1].astype(float)
df1_test.iloc[:,:-1] = df1_test.iloc[:,:-1].astype(float)

In [86]:
# Filtering variables with a proportion of non-zero values greater than 60%.
vars = (df1_train == 0.0).sum()/len(df1_train)
var_filtered = vars[vars < 0.4]

In [109]:
vars_list = list(var_filtered.index) + ["TARGET"]
df_reduced_train = df1_train[vars_list]
df_reduced_test = df1_test[vars_list]

In [112]:
len(df_reduced_test.columns)

30

In [ ]:
df_reduced_train.to_csv("data/df_train.csv")
df_reduced_test.to_csv("data/df_test.csv")

### Reducing Highly Correlated Columns

In [126]:
col = df_reduced_train.drop("TARGET", axis=1).columns

[('var24', 'var90', 0.9337194030695292),
 ('var25', 'var64', 0.8483377284983373),
 ('var25', 'var89', 0.6504750976567577),
 ('var25', 'var91', 0.9975002244913979),
 ('var25', 'var139', 0.7900380759734712),
 ('var25', 'var159', 0.857746285932058),
 ('var25', 'var165', 0.8374652421920914),
 ('var25', 'var281', 0.8761550509748453),
 ('var25', 'var329', 0.6675351595659501),
 ('var25', 'var331', 0.800429734294878),
 ('var25', 'var332', 0.7914452050929008),
 ('var64', 'var25', 0.8483377284983373),
 ('var64', 'var89', 0.8079478202215183),
 ('var64', 'var91', 0.846217074621614),
 ('var64', 'var139', 0.9357796710872539),
 ('var64', 'var148', 0.8053624445577469),
 ('var64', 'var159', 0.9199366882620539),
 ('var64', 'var165', 0.7104533612575488),
 ('var64', 'var183', 0.7761459813550806),
 ('var64', 'var191', 0.7574701438942257),
 ('var64', 'var281', 0.8119061005232864),
 ('var64', 'var329', 0.6899094159803387),
 ('var64', 'var331', 0.6960663367822173),
 ('var64', 'var332', 0.6893844775683339),
 ('var77', 'var80', 0.9895589966639405),
 ('var77', 'var152', 0.9193205626705931),
 ('var77', 'var155', 0.9287196148846092),
 ('var77', 'var290', 0.6930652272089655),
 ('var80', 'var77', 0.9895589966639406),
 ('var80', 'var152', 0.9101315624166593),
 ('var80', 'var155', 0.9384558070802433),
 ('var80', 'var290', 0.6887564767255636),
 ('var89', 'var25', 0.6504750976567576),
 ('var89', 'var64', 0.8079478202215183),
 ('var89', 'var139', 0.8329562986583913),
 ('var89', 'var148', 0.9968633197291897),
 ('var89', 'var159', 0.7958792035538149),
 ('var89', 'var165', 0.6758875115501601),
 ('var89', 'var183', 0.8003802778595386),
 ('var89', 'var191', 0.7925213566856087),
 ('var89', 'var329', 0.7207244187545098),
 ('var89', 'var331', 0.693771582971935),
 ('var89', 'var332', 0.7110348777444171),
 ('var90', 'var24', 0.9337194030695292),
 ('var91', 'var25', 0.9975002244913977),
 ('var91', 'var64', 0.846217074621614),
 ('var91', 'var139', 0.7931947175782068),
 ('var91', 'var159', 0.8608521512164657),
 ('var91', 'var165', 0.8366592980976846),
 ('var91', 'var281', 0.874047638336434),
 ('var91', 'var329', 0.6665505461981001),
 ('var91', 'var331', 0.7996428360525764),
 ('var91', 'var332', 0.790373229000926),
 ('var138', 'var158', 0.8329964826902501),
 ('var139', 'var25', 0.7900380759734712),
 ('var139', 'var64', 0.9357796710872538),
 ('var139', 'var89', 0.8329562986583913),
 ('var139', 'var91', 0.7931947175782068),
 ('var139', 'var148', 0.8352201076659563),
 ('var139', 'var159', 0.92284877102286),
 ('var139', 'var165', 0.6814514486180945),
 ('var139', 'var183', 0.81858921494822),
 ('var139', 'var191', 0.7645457622653006),
 ('var139', 'var281', 0.7541013338353308),
 ('var139', 'var329', 0.6885638315324125),
 ('var139', 'var331', 0.6736140285102867),
 ('var139', 'var332', 0.699558436500685),
 ('var148', 'var64', 0.8053624445577469),
 ('var148', 'var89', 0.9968633197291898),
 ('var148', 'var139', 0.8352201076659563),
 ('var148', 'var159', 0.7953518350093903),
 ('var148', 'var165', 0.673495150178058),
 ('var148', 'var183', 0.7994164469314762),
 ('var148', 'var191', 0.7893114621764913),
 ('var148', 'var329', 0.7195781669048731),
 ('var148', 'var331', 0.692469478259126),
 ('var148', 'var332', 0.7095391845187434),
 ('var152', 'var77', 0.9193205626705931),
 ('var152', 'var80', 0.9101315624166593),
 ('var152', 'var155', 0.9572543390144959),
 ('var152', 'var290', 0.6571531841092721),
 ('var155', 'var77', 0.9287196148846093),
 ('var155', 'var80', 0.9384558070802433),
 ('var155', 'var152', 0.9572543390144959),
 ('var155', 'var290', 0.6674003744480876),
 ('var158', 'var138', 0.8329964826902501),
 ('var159', 'var25', 0.857746285932058),
 ('var159', 'var64', 0.9199366882620539),
 ('var159', 'var89', 0.7958792035538149),
 ('var159', 'var91', 0.8608521512164656),
 ('var159', 'var139', 0.9228487710228599),
 ('var159', 'var148', 0.7953518350093903),
 ('var159', 'var165', 0.7352809119784475),
 ('var159', 'var183', 0.7173391030882266),
 ('var159', 'var191', 0.8177100633851273),
 ('var159', 'var281', 0.7916235170599208),
 ('var159', 'var329', 0.6614435425226673),
 ('var159', 'var331', 0.7091402260652004),
 ('var159', 'var332', 0.7094077791609924),
 ('var165', 'var25', 0.8374652421920913),
 ('var165', 'var64', 0.7104533612575487),
 ('var165', 'var89', 0.6758875115501601),
 ('var165', 'var91', 0.8366592980976845),
 ('var165', 'var139', 0.6814514486180945),
 ('var165', 'var148', 0.6734951501780579),
 ('var165', 'var159', 0.7352809119784476),
 ('var165', 'var183', 0.7234252832176669),
 ('var165', 'var191', 0.8135097827016263),
 ('var165', 'var281', 0.6965928223174065),
 ('var165', 'var329', 0.8020272880948276),
 ('var165', 'var331', 0.955796220111036),
 ('var165', 'var332', 0.9262416128073138),
 ('var183', 'var64', 0.7761459813550805),
 ('var183', 'var89', 0.8003802778595386),
 ('var183', 'var139', 0.81858921494822),
 ('var183', 'var148', 0.7994164469314762),
 ('var183', 'var159', 0.7173391030882266),
 ('var183', 'var165', 0.7234252832176669),
 ('var183', 'var191', 0.90047361243708),
 ('var183', 'var329', 0.7561237485441613),
 ('var183', 'var331', 0.7191126292002968),
 ('var183', 'var332', 0.7280008064101292),
 ('var191', 'var64', 0.7574701438942257),
 ('var191', 'var89', 0.7925213566856087),
 ('var191', 'var139', 0.7645457622653006),
 ('var191', 'var148', 0.7893114621764914),
 ('var191', 'var159', 0.8177100633851273),
 ('var191', 'var165', 0.8135097827016263),
 ('var191', 'var183', 0.90047361243708),
 ('var191', 'var329', 0.7535371230643054),
 ('var191', 'var331', 0.7934026288724586),
 ('var191', 'var332', 0.7762727391011326),
 ('var281', 'var25', 0.8761550509748453),
 ('var281', 'var64', 0.8119061005232864),
 ('var281', 'var91', 0.874047638336434),
 ('var281', 'var139', 0.7541013338353308),
 ('var281', 'var159', 0.7916235170599207),
 ('var281', 'var165', 0.6965928223174065),
 ('var281', 'var329', 0.687318353802922),
 ('var281', 'var330', 0.7625974723787661),
 ('var281', 'var331', 0.702162101883817),
 ('var281', 'var332', 0.6905249607929803),
 ('var290', 'var77', 0.6930652272089655),
 ('var290', 'var80', 0.6887564767255637),
 ('var290', 'var152', 0.6571531841092721),
 ('var290', 'var155', 0.6674003744480875),
 ('var329', 'var25', 0.6675351595659501),
 ('var329', 'var64', 0.6899094159803387),
 ('var329', 'var89', 0.7207244187545098),
 ('var329', 'var91', 0.6665505461981001),
 ('var329', 'var139', 0.6885638315324125),
 ('var329', 'var148', 0.7195781669048731),
 ('var329', 'var159', 0.6614435425226673),
 ('var329', 'var165', 0.8020272880948276),
 ('var329', 'var183', 0.7561237485441613),
 ('var329', 'var191', 0.7535371230643054),
 ('var329', 'var281', 0.687318353802922),
 ('var329', 'var331', 0.8410321564492146),
 ('var329', 'var332', 0.8480372572368651),
 ('var330', 'var281', 0.7625974723787661),
 ('var331', 'var25', 0.8004297342948781),
 ('var331', 'var64', 0.6960663367822174),
 ('var331', 'var89', 0.693771582971935),
 ('var331', 'var91', 0.7996428360525762),
 ('var331', 'var139', 0.6736140285102867),
 ('var331', 'var148', 0.6924694782591261),
 ('var331', 'var159', 0.7091402260652003),
 ('var331', 'var165', 0.9557962201110359),
 ('var331', 'var183', 0.719112629200297),
 ('var331', 'var191', 0.7934026288724584),
 ('var331', 'var281', 0.702162101883817),
 ('var331', 'var329', 0.8410321564492146),
 ('var331', 'var332', 0.9709517704397926),
 ('var332', 'var25', 0.7914452050929008),
 ('var332', 'var64', 0.6893844775683339),
 ('var332', 'var89', 0.7110348777444171),
 ('var332', 'var91', 0.790373229000926),
 ('var332', 'var139', 0.699558436500685),
 ('var332', 'var148', 0.7095391845187434),
 ('var332', 'var159', 0.7094077791609924),
 ('var332', 'var165', 0.9262416128073139),
 ('var332', 'var183', 0.7280008064101292),
 ('var332', 'var191', 0.7762727391011325),
 ('var332', 'var281', 0.6905249607929803),
 ('var332', 'var329', 0.848037257236865),
 ('var332', 'var331', 0.9709517704397927)]

In [ ]:
scipy.stats.spearmanr(x, y).correlation

In [123]:
col

Index(['var1', 'var2', 'var24', 'var25', 'var63', 'var64', 'var77', 'var80',
       'var89', 'var90', 'var91', 'var138', 'var139', 'var148', 'var152',
       'var155', 'var158', 'var159', 'var165', 'var183', 'var191', 'var194',
       'var281', 'var290', 'var329', 'var330', 'var331', 'var332', 'var369'],
      dtype='object')